# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out

# Builds / coverage
dist
coverage

# Env
.env
.env.*

# OS / editors
.DS_Store
*.log
.vscode
.idea
*.Zone.Identifier
**/*.Zone.Identifier
